arrow==1.2.3
asgiref==3.6.0
binaryornot==0.4.4
certifi==2022.12.7
chainmap==1.0.3
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
combomethod==1.0.12
cookiecutter==2.1.1
dj-database-url==1.2.0
Django==4.1.5
django-appconf==1.0.5
django-browser-reload==1.6.0
django-clearcache==1.2.1
django-compressor==4.3
django-crispy-forms==1.14.0
django-libsass==0.9
django-on-heroku==1.1.2
django-sass-processor==1.2.2
django-tailwind==3.4.0
emoji==2.2.0
gunicorn==20.1.0
idna==3.4
Jinja2==3.1.2
jinja2-time==0.2.0
libsass==0.22.0
MarkupSafe==2.1.1
nulltype==2.3.1
options==1.4.10
psycopg2==2.9.5
psycopg2-binary==2.9.5
python-dateutil==2.8.2
python-dotenv==0.21.0
python-slugify==7.0.0
PyYAML==6.0
rcssmin==1.1.1
requests==2.28.2
rjsmin==1.2.1
six==1.12.0
sqlparse==0.4.3
text-unidecode==1.3
urllib3==1.26.14
whitenoise==6.3.0
