{% extends 'base.html' %}

{% block content %}


<div class="flex flex-col justify-center items-center">
    <h1 class="text-5xl">{{ profile.user.username|upper }}'s Page</h1>
    <h2> {{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
    <h2> {{ profile.user.email }}</h2>
    <a href="/delete_profile/{{ profile.id }}"><button type="button" class="text-white bg-red-600 border border-red-800 hover:text-white hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Delete</button></a>
</div>

<div class="py-4 grid gap-0 grid-cols-4">

    <div class="col-span-1">

        <form method="post" class="">
            {% csrf_token %}
            <div class="mb-6">
                {{ form }}
            </div>
            <button type="submit" class="mt-2 text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Save Changes</button>
        </form>
    </div>

    <div class="col-span-2 gap-0">
        {% for post in user_posts %}
        <div class="flex grow justify-center">
            <a href="{% url 'main_app:view_post' post.id %}" class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                
                    <div class="font-bold text-xl mb-2">
                        <span class="mr-2 text-lg"> {{ post.user.username|capfirst }} </span> 
                        <span class="text-base"> {{ post.created_at }} </span>
                    </div>
                    <p class="text-gray-700 text-base mb-4">
                        {{ post.content }}
                    </p>
                    <div>
                        <span><button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                            <svg class="w-6 h-5 mr-2 -ml-1" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z"></path></svg>
                                {{ post.comments|length }}
                        </button></span>
    
                        <span><button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">❤️ {{ post.likes }}</button></span>
                    </div>
                <div class="px-6 pt-4 pb-2 flex flex-row">
                    <span class="w-fit inline-block bg-gray-200 rounded-full py-1 text-sm font-semibold text-gray-700 mr-1 px-1 mb-2">#photography</span>
                    <span class="inline-block bg-gray-200 rounded-full px-1 py-1 text-sm font-semibold text-gray-700 mr-1 px-1 ml-1 mb-2">#travel</span>
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-1 px-1 ml-1 mb-2">#winter</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="relative h-fit flex overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full table-auto text-sm text-center text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 bg-gray-50 py-4 rounded-l-lg p-6 space-y-3">
                        Followers
                    </th>
                    <th scope="col" class="px-6 bg-gray-50 py-4 rounded-r-lg p-6 space-y-3">
                        <!-- <th scope="col" class="px-6 py-3"> -->
                        Following
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <ul class="px-6 py-3">
                            {% for follower in profile.followed_by.all %}
                            <li class="group mx-auto rounded-lg p-6 space-y-3 hover:bg-gray-200 hover:ring-sky-500"><a href="{% url 'main_app:view_profile' follower.id %}" aria-current="true"> {{ follower }}</a></li>
                            {% endfor %}
                        </ul>
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <ul class="px-6 py-3">
                            {% for following in profile.follows.all %}
                            <li class="group mx-auto rounded-lg p-6 space-y-3 hover:bg-gray-200 hover:ring-sky-500"><a href="{% url 'main_app:view_profile' following.id %}" aria-current="true"> {{ following }}</a></li>
                            {% endfor %}
                        </ul>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}