{% extends 'base.html' %}

{% block content %}

	<div class="container mx-auto">
	
		<section class="flex justify-center">
			<h1 class="text-5xl">Facenook ❤️</h1>
		</section>
		{% for post in posts %}
		<div class="tw-max-w-sm tw-rounded tw-overflow-hidden tw-shadow-lg">
			<div class="tw-px-6 tw-py-4">
			  <div class="tw-font-bold tw-text-xl tw-mb-2"> {{ post.user.username }}</div>
			  <p class="text-gray-700 text-base">
				{{ post.content }}
			  </p>
			</div>
			<div class="px-6 pt-4 pb-2">
			  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
			  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
			  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
			</div>
		</div>
		{% endfor %}

	</div>

{% endblock %}
