{% extends 'base.html' %}

{% block content %}

<div>
    {% for profile in profiles %}
		<div class="tw-flex tw-justify-center">
			<a href="{% url 'main_app:view_profile' profile.id %}" class="tw-block tw-max-w-sm tw-p-6 tw-bg-white tw-border tw-border-gray-200 tw-rounded-lg tw-shadow-md hover:tw-bg-gray-100 dark:tw-bg-gray-800 dark:tw-border-gray-700 dark:hover:tw-bg-gray-700">
					<div class="tw-font-bold tw-text-xl tw-mb-2"> {{ profile.user.username }}</div>
					<p class="tw-text-gray-700 tw-text-base">
						@{{ profile.user.username|lower }}
					</p>
			</a>
		</div>
	{% endfor %}

</div>

{% endblock %}