{% extends 'base.html' %}

{% block content %}

<div class="py-4">
    
    <div class="flex justify-center">
        <a href="#" class="block w-1/2 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <span class="font-bold text-xl mb-4"> {{ comment.user.username }}</span>
                <span class="text-base"> {{ comment.created_at }} </span>
                <p class="text-gray-700 text-base">
                    {{ comment.content }}
                </p>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <span><button type="submit" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">❤️ {{ comment.likes }}</button></span>
                    </form>
                </div>
        </a>
    </div>

</div>

{% endblock %}